#pastIssues:after {
    content: "";
    display: table;
    clear: both;
}

.pastIssue {
    float: left;
    position: relative;
    width: 33.33%;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
}
.issueImg {    
    object-fit: fill;
    width: 95%;
    height: 400px;
    opacity: 1;
    transition: .5s ease;
}
.issueTitle {
    font-size: 24px;
    font-weight: bold;    
}
.issueSubtitle {
    font-size: 16px;
}

.issueMiddle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

p.center {
    font-size: 24px;
    text-align: center;
}

.section a {
    text-decoration: none;
    color: #546e7a;
}

.pastIssue:hover .issueImg {
    opacity: 0.3;
}

.pastIssue:hover .issueMiddle {
    opacity: 1;
}

.unavailable {
    filter: grayscale(100%);
    opacity: 0.7;
}

@media (max-width: 768px) {
    .pastIssue {
        width: 100%;
    }
}
